<!DOCTYPE html>
<html lang="en" >
 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Grow App - Reset password</title>
</head>


 
<body ng-controller="passCtrl">

    <div id="header" style="position:relative">
             <img class="logo" src="/img/grow-logo.svg">
        
          <div class="logo-block">

            <h1>Grow </h1>
            <h4>Better soil, Better food. </h4>
        </div>
    </div>  
     
    <div class="container login-container">
        
       
        <div ng-show="emailsent==false" class="login-form">
            <h1 >Reset your password </h1>
            <form class="form-signin" name="signinForm" role="form">
                <div class="form-group " ng-class="{ 'has-error' : signinForm.email.$invalid }" >
                    <label>Email address</label>
                    <input type="email" name="email" class="form-control" ng-model="user.email">
                    <p class="help-block" ng-show="signinForm.email.$invalid">Enter a valid email.</p>
                </div>
                
          
                    
                <div class="form-group ">
                <button ng-disabled="!user.email " type="button" ng-click="resetPassword($event)" class="btn  btn-primary ">Reset password</button></div>
                      <p style="color:red;" >{{regErrorMessage}}</p>
            </form>
            <h3>Actually, I remember it now! <a href="#/login">Go login then.</a></h3>
             
            
    

               
        </div>
        <div ng-show='emailsent==true'>
            <h1>All good</h1>
            <h2>We've sent you an email with some instructions.</h2>
            <h3><a href="#/login">Go back to login.</a></h3>
        </div>
    </div>
   
 
</body>
</html>